
.profile-container {
  width: 86%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.search-container input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

.search-container button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}


.headerContainer{
  width: 100%;
  display: flex;
  justify-content:space-evenly;
}


.profile-data {
  border: 1px solid #ccc;
  padding: 20px;
  
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Add more styles as needed */
.MainData{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: fit-content;
}


.search-container h1{
  padding: 3%;
  font-size:x-large;
  background-color: aquamarine;
  border-radius: 5px;
}

.ProfileSearch{
  display: flex;
}

.name{
  text-transform:capitalize ;
}

.highlight{
  padding: 5px;
  background-color: beige;
}

@media screen and (max-width: 360px){
  .profile-container{
    font-size: smaller;
  }
  .search-container{
    width: 40%;
  }
  .search-container h1{
    font-size: small;
  }
  .search-container input{
    width: 80%;
  }
  .profile-data {
    font-size: small;
  }
  .ProfileSearch{
    flex-direction: column;
  }
}
