.side-bar{
    width: 14%;
    color: white;
    padding: 6px;
}
.line {
    background-color: white;
    color: white;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: rgb(92, 92, 249);
}
.menulogo{
    height: 25px;
    width: 25px;
    margin-left: 5px;
    margin-right: 22%;
    text-align: center;
    justify-content: center;
}

.footer{
  /* border: 2px solid red; */
  
  position: relative;
  font-size: small;
  color: rgb(148, 147, 147);
  
}


.footer p strong {
  color: rgb(100, 100, 100);
}

.footer p strong:hover {
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .side-bar {
    width: 100%; /* Make the sidebar take the full width of the screen */
  }

  .menu li {
    margin-bottom: 5px; /* Reduce the margin between menu items */
  }

  .menulogo {
    height: 20px; /* Decrease the height of the menu icons */
    width: 20px; /* Decrease the width of the menu icons */
    margin-left: 3px; /* Reduce left margin for icons */
    margin-right: 10px; /* Reduce right margin for icons */
  }

  .footer {
    font-size: smaller; /* Reduce font size for the footer */
  }
  
}
